{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "max-len": ["error", {code: 80, ignoreUrls: true}],
    "comma-dangle": ["error", "always-multiline"],
    "no-shadow": "error",
    "no-console": ["error", {allow: ["warn", "error"]}],
    "semi": ["error", "always"]
  },
  "env": {
    "es6": true
  }
}
